.about {
  font-family: "Roboto", sans-serif;
  background-color: #f1fdf7; // Background color from your home page palette
  color: #333;

  .landscape-image {
    img {
      width: 100%; // Set the image to fill the width of the container
      max-height: 700px; // Set the maximum height (adjust as needed)
      object-fit: cover; // Maintain aspect ratio and cover the container
    }
  }

  .about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;

    section {
      margin-bottom: 2rem; // Add spacing between sections
      h2 {
        font-size: 28px;
        margin-bottom: 1rem;
        color: #0076b6; // Blue from your home page palette
      }

      p {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
}

