.featured {
  height: 680px;
  display: flex;
  justify-content: center;
  background-color: #f1fdf7;
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;
        color: black;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border: 1px solid  #0076b6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color:  #0076b6;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: black;
          border: 1px solid  #0076b6;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;
      img {
        
        width: 800px;
        height: 600px;
        
      }
    }
  }
}
