.community-hub {
    text-align: center;
    padding: 20px;
  }
  
  .community-image img {
    max-width: 100%;
  }
  
  .advantages {
    text-align: left;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .social-media {
    text-align: left;
    margin-top: 20px;
  }
  
  .social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media-list li {
    margin-bottom: 10px;
  }
  
  .social-media-list a {
    text-decoration: none;
    color: #0073e6; /* Customize the link color */
    font-weight: bold;
  }
  
  .social-media-list a:hover {
    text-decoration: underline;
  }
    