.Story {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
  
    .center-box {
      max-width: 800px;
      padding: 1rem;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 1rem;
      }
  
      h3 {
        font-size: 20px;
        margin-top: 1.5rem;
      }
  
      p {
        font-size: 20px;
        margin-bottom: 1.5rem;
      }
    }
  }
  